<div class="container-fluid">
    <h3 class="page-header">
        <span
            class="ident"
            *ngIf="activatedRoute.parent.parent.data | async as parentData">
            {{ parentData?.meta.title | translate}}:
        </span>
        <span *ngIf="activatedRoute.data | async as data">{{ data?.meta.title | translate}}</span>
    </h3>
    <mobiles-grid [apiUrl]="apiUrl"></mobiles-grid>
</div>
